# Builds
build/

# Google Tests
tests/lib/

# Jet Brains
.idea/
cmake-build-debug/

# XCode Build
**/a.out
/xcode_test_dir/*.h
/xcode_test_dir/*.cpp

# Deliverable
/deliverable/*.cpp

# MacOS
.DS_Store
../.DS_Store
