# Builds
build/

# Google Tests
tests/lib/

# Jet Brains
.idea/
cmake-build-debug/

# Accidental Builds in src
/src/*.a
/src/*.out
/src/*.o
**/a.out

# Basic Build
/basic_build/*.h
/basic_build/*.cpp

# Deliverable
/deliverable/*.cpp
/deliverable/*.out

# MacOS
.DS_Store
../.DS_Store
